@import "tailwindcss";
@import "@fontsource/poppins";
@import "@fontsource/kaisei-tokumin";
@theme {
  --font-sans:
    "Poppins", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
  --font-serif:
    "Kaisei Tokumin", ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif;
}

@layer base {
  html {
    @apply font-sans antialiased;
  }
  h1,
  h2,
  h3,
  .font-heading {
    font-family: var(--font-serif);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
